[worldserver]

################################################################################################################
#
#    PremiumAccount
#        Description: Enable Pocket Portal for players
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
PocketPortal.Enable = 1


#
#   Portal.NpcDuration
#       Description: Max Time (in seconds) before despawn of summoned NPC
#       Default:    30 - (Seconds)
Portal.NpcDuration = 30

##################################################################################################################